*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    color: rgb(255, 255, 255);
}

body{
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:center center;
}

    
.container1{
  margin: 100px auto;
  width: 50%;
  /* border: 1px solid rgb(255, 255, 255); */
  overflow: hidden;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  max-width: 500px;
  min-width: 500px;
  backdrop-filter: blur(25px);
  box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);  

}

.greeting{
    font-size: 3em;
    padding: 10px;
    
    
}
.nowtime{
    font-size: 4em;
    font-weight: bold;
    
}
.taskform{
    padding: 20px;
    
}

.taskinp{
    font-weight: bold;
    border: none;
    border-radius: 50px ;
    width: 300px;
    text-align: center;
    padding: 2px;
    color: black;
    /* box-shadow: 2px black; */
}
button{
    
    border: 0px solid white;
    cursor: pointer;
    

}

.tasks{
    
    text-align: left;
    padding-left: 99px;
}

