*{font-family:sans-serif ;

}
h1{
    font-family: 'Jost', sans-serif;
    color: black;
    
}
.sub{ 
   height: 20px;
    color: white;
    border-radius: 5px;
}
.like{
    height: 20px;
    color: white;
    border-radius: 5px;
}
.likecolor{
    background-color: blue;
}
.unlikecolor{
    background-color: rgb(15, 15, 121);
}

.subcolor{
    background-color: red;
}
.unsubcolor{
    background-color: rgb(114, 11, 11);
}
.bell{
    height: 20px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
}
.notifi{
    background-color: rgb(237, 236, 150);
}
.unnotifi{
    background-color: rgba(255, 251, 0, 0.974);
}
.container{
    height: 50px;
    width: 45%;
    margin-block: 30px;
    border: .5px solid black;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    display: flex;
    
}