*{font-family:sans-serif ;}
h1{
    color: black;
    
}
.sub{
    margin-right: 85rem;
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 5px;
}
.like{
    margin-top:20px;
    margin-right: 85rem;
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 5px;
}
.likecolor{
    background-color: blue;
}
.unlikecolor{
    background-color: rgb(15, 15, 121);
}

.subcolor{
    background-color: red;
}
.unsubcolor{
    background-color: rgb(114, 11, 11);
}